* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: lightblue;
}

hr {
  margin: 20px 0;
}

#root {
  background-color: white;
  width: 100%;
  height: 100vh;
  max-width: 720px;
  margin: 0 auto;
}

#home-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

#home-header {
  text-align: center;
  margin: 20px 0;
  color: rgb(0, 73, 101);
}

#chat-widget-home {
  padding: 30px;
}

#chat-widget-home input {
  width: 100%;
  max-width: 300px;
  padding: 8px 10px;
  font-size: 1.1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgb(207, 207, 207);
}

#chat-widget-home label {
  font-size: 0.9rem;
  margin-bottom: 5px;
}

#chat-widget-home div {
  margin-bottom: 20px;
}

#chat-widget-home button {
  height: calc(1.1rem + 20px);
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}

#name-input {
  display: flex;
  flex-direction: column;
}

#code-label {
  display: block;
}

#join {
  border: 2px solid green;
  color: white;
  background-color: green;
  transition: all 0.1s ease-in;
}

#join:hover {
  background-color: white;
  color: green;
}

#create {
  border: 2px solid rgb(47, 47, 47);
  color: rgb(47, 47, 47);
  background-color: white;
  transition: all 0.1s ease-in;
}

#create:hover {
  background-color: rgb(47, 47, 47);
  color: white;
}

#error {
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(255, 210, 210);
  color: red;
  border-radius: 10px;
  font-weight: 900;
}

#room-container {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, auto) 1fr;
  padding: 0 30px;
  padding-bottom: 30px;
}

#room-subsection {
  margin-bottom: 20px;
}

#room-code-display {
  color: rgb(0, 73, 101);
}

#room-code-display span {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 2px;
  color: rgb(40, 40, 40);
  font-family: monospace;
  padding: 8px 5px;
}

#leave-chat-btn {
  color: white;
  background-color: rgb(226, 29, 29);
  font-weight: 800;
  text-decoration: none;
  padding: 6px;
  border: 2px solid rgb(226, 29, 29);
  display: inline-block;
  margin-top: 5px;
  border-radius: 10px;
  transition: all 0.1s ease-in;
}

#leave-chat-btn:hover {
  color: rgb(226, 29, 29);
  background-color: white;
}

#chat-room-widget {
  height: 100%;
  position: relative;
  background-color: rgb(191, 237, 255);
  border: 4px solid rgb(191, 237, 255);
  border-radius: 15px;
}

#msgs-container {
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
  overflow-y: auto;
  background-color: rgb(191, 237, 255);
  padding: 10px;
}

#msgs-container > ul {
  list-style: none;
}

#message-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;

  display: flex;
}

#message-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 1.1rem;
  outline: none;
  border: 4px solid rgb(191, 237, 255);
  border-right: none;
  background-color: white;
  border-bottom-left-radius: 15px;
}

#send-btn {
  padding: 0 20px;
  font-size: 1.1rem;
  border: 4px solid rgb(191, 237, 255);
  border-left: none;
  background-color: rgb(0, 100, 140);
  color: white;
  cursor: pointer;
  border-bottom-right-radius: 15px;
  transition: all 0.1s ease-in;
}

#send-btn:hover {
  background-color: rgb(46, 175, 225);
}

.message-item {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  max-width: 500px;
  margin: 10px 0;
}

.peer-message-item {
  background-color: rgb(0, 100, 140);
  color: white;
  border-bottom-left-radius: 0;
}

.self-message-item {
  margin-left: auto;
  margin-right: 0;
  border-bottom-right-radius: 0;
}

.muted-text {
  color: grey;
  font-size: 0.7rem;
}

.muted-text-white {
  color: white;
  font-size: 0.7rem;
}

.member-activity {
  text-align: center;
  margin: 10px 0;
  color: grey;
}
